<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Verduras</title>
    <link rel="stylesheet" href="/css/principal.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">Tienda Verduras</div>
            <ul>
                <li><a href="/principalproveedor">Inicio</a></li>
                <li><a href="/principalproveedor">Tienda</a></li>
                <li><a href="/contactanos">Cont치ctenos</a></li>
            </ul>
            <div class="icons">
                <a href="#" class="cart-icon">游</a>
                <a href="/perfilproveedor" class="login-icon">Perfil</a>
                <button class="contact-button" onclick="window.location.href='/contactanos';">Cont치ctenos</button>
                <button class="CerrarSesion-button" onclick="CerrarSesion()">Cerrar Sesi칩n</button>

            </div>
        </nav>
    </header>

    <section class="search-bar">
        <input type="text" placeholder="Buscar...">
        <button class="buscar-button">游댌</button>
    </section>

    <section class="filter-bar">
        <!-- <span>Tarifa</span> -->
        <span>Ordenar por: <select><option>Destacado</option></select></span>
    </section>

    <section class="products-grid">
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="AguacateLorena">Aguacate Lorena</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="Albahaca">Albahaca</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="AjiDulce">Aji dulce</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="Ajirocoto">Aji rocoto</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="AjiImportado">Aji importado</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="Brocoli">Brocoli</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="CebollaPuerro">Cebolla Puerro</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="CebollaBlanca">Cebolla Blanca</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="CebollaMorada">Cebolla Morada</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="CebollaRama">Cebolla Rama</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="Cebollin">Cebollin</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="Champinones">Champi침ones</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="Cilantro">Cilantro</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="Coliflor">Coliflor</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="Colchina">Colchina</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="Esparragos">Esparragos</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="Fresa">Fresa</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="GerminadoAlfafa">Germinado de alfafa</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="Guisantes">Guisantes</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="Jengibre">Jengibre</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="Kiwi">Kiwi</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="LechugaMorada">Lechuga Morada</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="LechugaVerde">Lechuga Verde</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="LimonTahiti">Limon Tahiti</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="LimonPajarito">Limon Pajarito</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="LimonMandarino">Limon Mandarino</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="Limonaria">Limonaria</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="MaizBlanco">Maiz Blanco</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="MangoTomi">Mango Tomi</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="Marracuya">Marracuya</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="Murrapo">Murrapo</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="NaranjaTangelo">Naranja Tangelo</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="PapaCapira">Papa Capira</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="Pepino">Pepino</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="Perejil">Perejil</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="PimentonRojo">Pimenton Rojo</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="PimentonAmarillo">Pimenton Amarillo</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="PinaOromiel">Pi침a Oromiel</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="Mezclun">Mezclun</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="PlatanoMaduro">Platano Maduro</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="PlatanoVerde">Platano Verde</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="Remolacha">Remolacha</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="Rabano">Rabano</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="RepolloMorado">Repollo Morado</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="RaizChina">Raiz China</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="Romero">Romero</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="SandiaBaby">Sandia Baby</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="Huevos">Huevos</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="Yacon">Yacon</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="Uchuva">Uchuva</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="YerbaBuena">YerbaBuena</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="Zanahoria">Zanahoria</h3>
        </div>
        <div class="product-card">
            <div class="product-image">[Imagen de Producto]</div>
            <h3 class="Zuccini">Zuccini</h3>
        </div>
    </section>
    <footer>
        <p>&copy; 2024 Jhoan. Todos los derechos reservados.</p>
      </footer>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/principal.js"></script>
</body>
</html>
