<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Verduras</title>
    <link rel="stylesheet" href="/css/principal.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">Tienda Verduras</div>
            <ul>
                <li><a href="/principalproveedor">Inicio</a></li>
                <li><a href="/principalproveedor">Tienda</a></li>
                <li><a href="/contactanos">Cont치ctenos</a></li>
            </ul>
            <div class="icons">
                <a href="#" class="cart-icon">游<span id="cart-count">0</span></a>
                <a href="/perfilproveedor" class="login-icon">Perfil</a>
                <button class="contact-button" onclick="window.location.href='/contactanos';">Cont치ctenos</button>
                <button class="CerrarSesion-button" onclick="CerrarSesion()">Cerrar Sesi칩n</button>

            </div>
        </nav>
    </header>

    <section class="search-bar">
        <input type="text" id="searchBar" placeholder="Buscar...">
        <!-- <button class="buscar-button">游댌</button> -->
    </section>

    <section class="filter-bar">
        <!-- <span>Tarifa</span> -->
        <span>Ordenar por: <select><option>Destacado</option></select></span>
        <button class="AgregarProducto-button" onclick="abrirModal()">Agregar Producto</button>
    </section>

    <section class="products-grid">
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="AguacateLorena">
            </div>
            <h3 class="AguacateLorena">Aguacate Lorena</h3>
            <div class="add-to-cart" id="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="Albahaca">
            </div>
            <h3 class="Albahaca">Albahaca</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="AjiDulce">
            </div>
            <h3 class="AjiDulce">Aji dulce</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="Ajirocoto">
            </div>
            <h3 class="Ajirocoto">Aji rocoto</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="AjiImportado">
            </div>
            <h3 class="AjiImportado">Aji importado</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="Brocoli">
            </div>
            <h3 class="Brocoli">Brocoli</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="CebollaPuerro">
            </div>
            <h3 class="CebollaPuerro">Cebolla Puerro</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="CebollaBlanca">
            </div>
            <h3 class="CebollaBlanca">Cebolla Blanca</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="CebollaMorada">
            </div>
            <h3 class="CebollaMorada">Cebolla Morada</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="CebollaRama">
            </div>
            <h3 class="CebollaRama">Cebolla Rama</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="Cebollin">
            </div>
            <h3 class="Cebollin">Cebollin</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="Champinones">
            </div>
            <h3 class="Champinones">Champi침ones</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="Cilantro">
            </div>
            <h3 class="Cilantro">Cilantro</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="Coliflor">
            </div>
            <h3 class="Coliflor">Coliflor</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="Colchina">
            </div>
            <h3 class="Colchina">Colchina</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="Esparragos">
            </div>
            <h3 class="Esparragos">Esparragos</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="Fresa">
            </div>
            <h3 class="Fresa">Fresa</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="GerminadoAlfafa">
            </div>
            <h3 class="GerminadoAlfafa">Germinado de alfafa</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="Guisantes">
            </div>
            <h3 class="Guisantes">Guisantes</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="Jengibre">
            </div>
            <h3 class="Jengibre">Jengibre</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="Kiwi">
            </div>
            <h3 class="Kiwi">Kiwi</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="LechugaMorada">
            </div>
            <h3 class="LechugaMorada">Lechuga Morada</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="LechugaVerde">
            </div>
            <h3 class="LechugaVerde">Lechuga Verde</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="LimonTahiti">
            </div>
            <h3 class="LimonTahiti">Limon Tahiti</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="LimonPajarito">
            </div>
            <h3 class="LimonPajarito">Limon Pajarito</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="LimonMandarino">
            </div>
            <h3 class="LimonMandarino">Limon Mandarino</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="Limonaria">
            </div>
            <h3 class="Limonaria">Limonaria</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="MaizBlanco">
            </div>
            <h3 class="MaizBlanco">Maiz Blanco</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="MangoTomi">
            </div>
            <h3 class="MangoTomi">Mango Tomi</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="Marracuya">
            </div>
            <h3 class="Marracuya">Marracuya</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="Murrapo">
            </div>
            <h3 class="Murrapo">Murrapo</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="NaranjaTangelo">
            </div>
            <h3 class="NaranjaTangelo">Naranja Tangelo</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="PapaCapira">
            </div>
            <h3 class="PapaCapira">Papa Capira</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="Pepino">
            </div>
            <h3 class="Pepino">Pepino</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="Perejil">
            </div>
            <h3 class="Perejil">Perejil</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="PimentonRojo">
            </div>
            <h3 class="PimentonRojo">Pimenton Rojo</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="PimentonAmarillo">
            </div>
            <h3 class="PimentonAmarillo">Pimenton Amarillo</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="PinaOromiel">
            </div>
            <h3 class="PinaOromiel">Pi침a Oromiel</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="Mezclun">
            </div>
            <h3 class="Mezclun">Mezclun</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="PlatanoMaduro">
            </div>
            <h3 class="PlatanoMaduro">Platano Maduro</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="PlatanoVerde">
            </div>
            <h3 class="PlatanoVerde">Platano Verde</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="Remolacha">
            </div>
            <h3 class="Remolacha">Remolacha</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="Rabano">
            </div>
            <h3 class="Rabano">Rabano</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="RepolloMorado">
            </div>
            <h3 class="RepolloMorado">Repollo Morado</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="RaizChina">
            </div>
            <h3 class="RaizChina">Raiz China</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="Romero">
            </div>
            <h3 class="Romero">Romero</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="SandiaBaby">
            </div>
            <h3 class="SandiaBaby">Sandia Baby</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="Huevos">
            </div>
            <h3 class="Huevos">Huevos</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="Yacon">
            </div>
            <h3 class="Yacon">Yacon</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="Uchuva">
            </div>
            <h3 class="Uchuva">Uchuva</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="YerbaBuena">
            </div>
            <h3 class="YerbaBuena">YerbaBuena</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="Zanahoria">
            </div>
            <h3 class="Zanahoria">Zanahoria</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/img/fondoverduras.png" alt="Zuccini">
            </div>
            <h3 class="Zuccini">Zuccini</h3>
            <div class="add-to-cart">
                游
            </div>
        </div>
    </section>

    <!-- Modal para agregar producto -->
<div id="modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">Agregar Producto</div>
        <div class="modal-body">
            <form id="product-form">
                <label for="product-name">Nombre del producto:</label>
                <input type="text" id="product-name" name="product-name" placeholder="Ingresa el nombre del producto">

                <label for="product-url">URL de la imagen:</label>
                <input type="text" id="product-url" name="product-url" placeholder="Ingresa la URL de la imagen">
            </form>
        </div>
        <div class="modal-actions">
            <button class="save-button" onclick="guardarCambios()">Guardar</button>
            <button class="cancel-button" onclick="cerrarModal()">Cancelar</button>
        </div>
    </div>
</div>
  
    
    <script src="/js/principal.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
