<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <div class="container">
    <div class="login-container" id="form-container">
      <img src="#" alt="" class="vegetable-image">

      <!-- Login -->
      <div id="login-form">
        <h2>Login</h2>
        <input id="usuario" type="text" placeholder="Usuario" required>
        <input id="contrasena" type="password" placeholder="Contraseña" required>
        <button id="login-button">Login</button>
        <p class="toggle-text">¿No sabes como Iniciar sesión?
          <a href="https://wa.me/+573188342212">Contáctanos</a>
        </p>
      </div>
  </div>

  <script src="/js/login.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
