<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Verduras (cliente)</title>
    <link rel="stylesheet" href="/css/principalcliente.css">

    <script>
        const token = sessionStorage.getItem("token");
        if (!token) {
            window.location.href = "/";
        }

        async function obtenerDatosUsuario() {
            const url = sessionStorage.getItem("urltiendaverduras") + "/login/datosusuario";
            try {
                const response = await fetch(url, {
                    method: "GET",
                    headers: {
                        "Content-Type": "application/json",
                        "x-access-token": token
                    }
                });
                if (!response.ok) throw new Error("No se pudo obtener la informaci贸n del usuario");

                const data = await response.json();
                if (data.error) {
                    window.location.href = "/";
                } else {
                    sessionStorage.setItem("usuarioId", data.id_usuario);
                    sessionStorage.setItem("usuarioNombre", data.nombre);
                    document.getElementById("usuario-nombre-header").textContent = data.nombre;
                }
            } catch (error) {
                console.error("Error al obtener el usuario:", error);
                window.location.href = "/";
            }
        }

        const CerrarSesion = () => {
            const swalWithCustomButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'swal2-confirm',
                    cancelButton: 'swal2-cancel'    
                },
                buttonsStyling: false  
            });
            swalWithCustomButtons.fire({
                title: "驴Quieres cerrar sesi贸n?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "S铆, cerrar sesi贸n",
                cancelButtonText: "No, cancelar",
                reverseButtons: true  
            }).then((result) => {
                if (result.isConfirmed) {
                    swalWithCustomButtons.fire({
                        title: "隆Sesi贸n cerrada!",
                        text: "Has cerrado sesi贸n correctamente.",
                        icon: "success"
                    }).then(() => {
                        
                        sessionStorage.clear();  
                        history.replaceState(null, '', '/');  
                        window.location.href = "/";
                    });
                } else if (result.dismiss === Swal.DismissReason.cancel) {
                    swalWithCustomButtons.fire({
                        title: "Cancelado",
                        text: "Tu sesi贸n sigue activa.",
                        icon: "error"
                    });
                }
            });
        };

        document.addEventListener("DOMContentLoaded", obtenerDatosUsuario);

        async function cargarProductos() {
            const apiURL = "http://localhost:4100/producto";
            try {
                const response = await fetch(apiURL);
                if (!response.ok) throw new Error("Error al cargar los productos");

                const productos = await response.json();
                const productsGrid = document.querySelector(".products-grid");
                productsGrid.innerHTML = "";

                productos.forEach(producto => {
                    const productCard = document.createElement("div");
                    productCard.className = "product-card";

                    productCard.innerHTML = `
                        <div class="product-image">
                            <img src="${producto.imagen}" alt="${producto.nombre}">
                        </div>
                        <div class="product-info">
                            <h3>${producto.nombre}</h3>
                            <p class="sombras">Precio: ${producto.precio}</p>
                            <p class="sombras">Unidad de medida: ${producto.unidad_de_medida}</p>
                            <button class="make-order-button" onclick="selectProducto('${producto.nombre}', '${producto.unidad_de_medida}')">Hacer Pedido</button>
                        </div>
                    `;
                    productsGrid.appendChild(productCard);
                });
            } catch (error) {
                console.error("Error:", error);
                alert("No se pudieron cargar los productos.");
            }
        }

        function selectProducto(nombreProducto, unidadDeMedida, precio) {
            document.getElementById("producto").textContent = nombreProducto;
            const modal = document.getElementById("order-modal");
            modal.style.display = "flex";

            const usuarioNombre = sessionStorage.getItem("usuarioNombre");
            const usuarioId = sessionStorage.getItem("usuarioId");
            document.getElementById("nombre-usuario").value = usuarioNombre;
            document.getElementById("usuario").value = usuarioId;
            document.getElementById("producto-nombre").value = nombreProducto;

            const fechaActual = new Date();
            const fechaFormateada = fechaActual.toLocaleString('es-ES', {
                year: 'numeric',
                month: '2-digit',
                day: '2-digit'
            });
            document.getElementById("fecha-pedido").textContent = fechaFormateada;
            document.getElementById("fecha-pedido-hidden").value = fechaActual.toISOString();

            

            document.getElementById("unidad-de-medida").value = unidadDeMedida;
        }

        function cerrarModal() {
            
            document.getElementById("pedido-form").reset();
            document.getElementById("order-modal").style.display = "none";
        }

        
        async function realizarPedido(event) {
            event.preventDefault(); 

            
            const responsable = document.getElementById("responsable").value.trim();
            const cantidad = document.getElementById("cantidad").value.trim();
            const caracteristicas = document.getElementById("caracteristicas").value;
            
            if (!responsable || !cantidad || !caracteristicas) {
                alert("Por favor, llena todos los campos obligatorios.");
                return; 
            }

            const url = "http://localhost:4100/pedido";
            const token = sessionStorage.getItem("token");

            const pedido = {
                id_usuario: document.getElementById("usuario").value,
                responsable: responsable,
                nombre_producto: document.getElementById("producto-nombre").value,
                fecha_pedido: document.getElementById("fecha-pedido-hidden").value,
                cantidad: cantidad,
                unidad_de_medida: document.getElementById("unidad-de-medida").value,
                caracteristicas: caracteristicas
            };

            try {
                const response = await fetch(url, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "x-access-token": token
                    },
                    body: JSON.stringify(pedido)
                });

                if (response.ok) {
                    Swal.fire({
                        position: "center",
                        icon: "success",
                        title: "Pedido enviado con 茅xito",
                        showConfirmButton: false,
                        timer: 1500,
                    });
                    cerrarModal();
                } else {
                    const errorData = await response.json();
                    alert(`Error al realizar el pedido: ${errorData.message}`);
                }
            } catch (error) {
                console.error("Error al realizar el pedido:", error);
                alert("No se pudo realizar el pedido.");
            }
        }

        document.addEventListener("DOMContentLoaded", cargarProductos);
    </script>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">Tienda Verduras</div>
            <ul>
                <li><a href="/principalcliente">Tienda</a></li>
                <li><a href="https://wa.me/+573188342212">Cont谩ctanos</a></li>
                <li><a href="/pedidos">Pedidos</a></li>
            </ul>
            <div class="icons">
                <div class="usuario">Perfil : <span id="usuario-nombre-header">CLIENTE</span></div>
                <button class="CerrarSesion-button" onclick="CerrarSesion()">Cerrar Sesi贸n</button>
            </div>
        </nav>
    </header>

    <section class="search-bar">
        <input type="text" id="searchBar" placeholder="Buscar...">
    </section>

    <section class="products-grid"></section>

    <div id="order-modal" class="modal">
        <div class="modal-content-container">
            <span class="close" onclick="cerrarModal()">&times;</span>
            <h2>Realizar Pedido</h2>
            <form id="pedido-form" onsubmit="realizarPedido(event)">
                <div class="modal-info">

                    <label for="producto">Producto:</label>
                    <p id="producto"></p>
                    <input type="hidden" id="producto-nombre" name="producto-nombre">

                    <label for="usuario-nombre">Usuario:</label>
                    <input type="text" id="nombre-usuario" name="nombre-usuario" disabled>
                    <input type="hidden" id="usuario" name="usuario">

                    <label for="responsable">Responsable:</label>
                    <input type="text" id="responsable" name="responsable" placeholder="Ingresa el responsable del pedido">

                    <label for="cantidad">Cantidad:</label>
                    <input type="number" id="cantidad" name="cantidad" placeholder="Ingresa la cantidad que necesitas" required>

                    <label for="unidad_de_medida">Unidad de medida:</label>
                    <input type="text" id="unidad-de-medida" name="unidad_de_medida" disabled>

                    <label for="caracteristicas">Caracter铆sticas:</label>
                    <select name="caracteristicas" id="caracteristicas">
                        <option value="" disabled selected>Selecciona las caracter铆sticas</option>
                        <option value="Pinton">Pinton</option>
                        <option value="Maduro">Maduro</option>
                        <option value="No aplica">No aplica</option>
                    </select>

                    <label for="fecha_pedido">Fecha del Pedido:</label>
                    <p id="fecha-pedido"></p>
                    <input type="hidden" id="fecha-pedido-hidden" name="fecha_pedido">

                    <button type="submit">Confirmar Pedido</button>
                </div>
            </form>
        </div>
    </div>
    <script src="/js/principalcliente.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
