<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil del Proveedor</title>
  <link rel="stylesheet" href="/css/perfilproveedor.css">

  
  <!-- Validacion del token -->
  <script>
    const token = sessionStorage.getItem("token");
    if (token == "" || token == null) {
        window.location.href = "/"
    }
    const url = sessionStorage.getItem("urltiendaverduras") + "/usuario/oauth";
    if (url == "" || url == null) {
        window.location.href = "/principalcliente"
    }
    const options = {
        method : "POST",
        headers: {
            "content-Type": "application/json",
            "x-access-token": token
        }
    }
    fetch(url, options)
    .then(res => res.json())
    .then(data=>{
        if (data.error == true) {
            window.location.href = "/"
        }
    });
</script>
  <script>
    const CerrarSesion = () => {
        sessionStorage.setItem("token", "");
        window.location.href = "/"
    }
</script>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/principalproveedor">Tienda</a></li>
        <li><a href="https://wa.me/+573188342212">Contactanos</a></li>
        <li><a href="#" onclick="CerrarSesion()">Cerrar Sesión</a></li>
      </ul>
    </nav>
  </header>

  <main class="profile-section">
    <div class="profile-container">
      <div class="profile-header">
        <h1>Jhoan</h1>
        <p><strong>Rol:</strong> PROVEEDOR</p>
      </div>
      <div class="profile-info">
        <h2>Información de la tienda</h2>
        <p><strong>Nombre del Negocio:</strong> Tienda Verduras</p>
        <p><strong>Teléfono:</strong> +57 3188342212</p>
      </div>
      <div class="profile-actions">
        <button class="edit-button" onclick="abrirModal()">Editar Perfil</button>
      </div>
    </div>
  </main>

  <!-- Modal para editar perfil -->
  <div id="modal" class="modal">
    <div class="modal-content">
      <div class="modal-header">Editar Perfil</div>
      <div class="modal-body">
        <form id="edit-profile-form">
          <label for="cliente-id">Id:</label>
          <input type="text" id="cliente-id" name="cliente-id" placeholder="Ingresa tu id">

          <label for="cliente-nombre">Nombre:</label>
          <input type="text" id="name" name="name" placeholder="Ingresa tu nombre">

          <label for="cliente-usuario">Usuario:</label>
          <input type="text" id="text" name="text" placeholder="Ingresa el usuario">

          <label for="cliente-contrasena">Contraseña</label>
          <input type="text" id="cliente-contrasena" name="cliente-contrasena" placeholder="Ingresa la contraseña">
        </form>
      </div>
      <div class="modal-actions">
        <button class="save-button" onclick="guardarCambios()">Guardar</button>
        <button class="cancel-button" onclick="cerrarModal()">Cancelar</button>
      </div>
    </div>
  </div>
  <script>
     // Función para abrir el modal
     function abrirModal() {
                document.getElementById("modal").style.display = "flex";
            }

            // Función para cerrar el modal
            function cerrarModal() {
                document.getElementById("modal").style.display = "none";
            }
            // Función para guardar el producto
            function guardarCambios() {
                // Capturar los valores directamente desde el formulario
                const id = document.getElementById("cliente-id").value;
                const nombre = document.getElementById("cliente-nombre").value;
                const usuario = document.getElementById("cliente-usuario").value;
                const contrasena = document.getElementById("cliente-contrasena").value;

                
                const datos = {
                    id: id,
                    nombre: nombre,
                    usuario: usuario,
                    contrasena: contrasena
                };

                // Enviar los datos al backend
                fetch('http://localhost:4100/usuario', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(datos),
                })
                    .then((response) => {
                        if (!response.ok) {
                            throw new Error('Error al guardar los datos');
                        }
                        return response.json();
                    })
                    .then((data) => {
                        console.log('Usuario modificado con éxito:', data)
                        alert("Usuario Modificado")
                        cerrarModal();
                        location.reload(); // Recarga la página automáticamente
                    })
                    .catch((error) => {
                        console.error('Error al modificar el usuario:', error);
                        alert('No se pudo modificar el usuario');
                    });
            }
  </script>
</body>
</html>
