<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrito de Compras</title>
  <link rel="stylesheet" href="/css/canasta.css">
</head>
<body>
  <header class="navbar">
    <div class="logo">
      <img src="-logo.png" alt="Logo" class="logo-img">
    </div>
    <nav class="menu">
      <a href="/principalcliente">Inicio</a>
      <a href="/principalcliente">Tienda</a>
      <a href="/contactanos">Cont치ctenos</a>
    </nav>
    <div class="cart" id="cart">
      <span class="cart-icon">游</span>
      <span class="cart-count" id="cart-count">0</span>
    </div>
  </header>
  
  <main class="main-content">
      <div class="cart-content">
        <div class="empty-cart" id="empty-cart">
          <p>춰Su carrito est치 vac칤o!</p>
          <button class="btn" onclick="seguirComprando()">Seguir comprando</button>
        </div>
        
        <div class="product-list" id="product-list" style="display: block;">
          <!-- Los productos se mostrar치n aqu칤 din치micamente -->
        </div>
        
        <div class="cart-details" id="cart-details" style="display: none;">
          <h3>Productos en el carrito:</h3>
          <ul id="cart-items-list"></ul>
        </div>
      </div>
  </main>
  
  <script src="/js/canasta.js"></script>

  <script>
    
  </script>
</body>
</html>
