body {
    font-family: Arial, sans-serif;
    background: linear-gradient(rgba(255, 255, 255, 0.108), rgba(255, 255, 255, 0.07)), url('/img/fondoverduras.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-container h2 {
    text-align: center;
    color: #4CAF50;
    margin-bottom: 20px;
}

.login-container input[type=text], .login-container input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-container button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.login-container button:hover {
    background-color: #45a049;
}

.login-container .vegetable-image {
    display: block;
    margin: 0 auto 20px;
    max-width: 100px;
}
