html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
                url('/img/fondoverduras.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    position: relative;
    transition: transform 0.5s ease-in-out;
}

.login-container h2 {
    text-align: center;
    color: #4CAF50;
    margin-bottom: 20px;
}

.login-container input[type=text],
.login-container input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-container button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.login-container button:hover {
    background-color: #45a049;
}

.login-container .vegetable-image {
    display: block;
    margin: 0 auto 20px;
    max-width: 100px;
}

/*estilos para el formulario de registro */
.hidden {
    display: none;
}

.toggle-text {
    text-align: center;
    font-size: 0.9em;
    color: #666;
    margin-top: 10px;
}

.toggle-text span {
    color: #4CAF50;
    cursor: pointer;
    font-weight: bold;
}

.toggle-text span:hover {
    text-decoration: underline;
}

/* Animación y efecto visual al cambiar entre formularios */
#form-container {
    perspective: 1000px;
    transform-style: preserve-3d;
}

#login-form, #register-form {
    backface-visibility: hidden;
}

/* Transiciones de formularios */
#login-form {
    animation: fadeIn 0.5s ease-in-out;
}

#register-form {
    animation: fadeIn 0.5s ease-in-out;
}

/* Animación de entrada */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


footer {
    text-align: center;
    padding: 0px 0;
    background-color: #45a04941;
    color: white;
    font-size: 14px;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    margin-top: auto;
}
