/* General */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f8e9;
    color: #3e4c3f; 
    height: 100vh; 
    display: flex;
    flex-direction: column;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    font-weight: bold;
    color: #333;
}

.navbar ul {
    display: flex;
    list-style-type: none;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}


/* Main content */
.main-content {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Esto asegura que el contenido ocupe todo el espacio disponible */
}

/* Empty cart */
.empty-cart {
    padding: 30px;
    background-color: #dcedc8; /* Verde pastel */
    border-radius: 10px;
    border: 1px solid #39ca0d; /* Verde suave */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.empty-cart p {
    font-size: 18px;
    font-weight: bold;
    color: #000000; /* Verde profundo */
}

/* Buttons */
.btn {
    background-color: #689f38; /* Verde fuerte */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #33691e; /* Verde hoja oscura */
}

/* Product list */
.product-list {
    display: flex !important;
    flex-wrap: wrap; 
    gap: 15px;
    justify-content: flex-start;
    overflow: hidden; 
    align-items: flex-start; 
    padding: 0 20px;
    flex-grow: 1; 
    max-height: 100%; 
}

/* Product items */
.product-list .product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff;
    border: 1px solid #c5e1a5;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    max-height: 250px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    flex: 0 0 auto;
    overflow: hidden;
    text-align: center;
}
.cerrar-sesion {
    padding: 8px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
}

.cerrar-sesion:hover {
    background-color: #218838;
}
.CerrarSesion-button {
    background-color: #218838;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.product-list .product-item:hover {
    transform: scale(1.05);
}

.product-list .product-image {
    width: 100px; /* Tamaño fijo para imágenes */
    height: auto;
    object-fit: cover; /* Ajuste proporcional */
    margin-bottom: 10px;
}

/* Cart details */
.cart-details {
    margin-top: 20px;
    padding: 20px;
    background-color: #e8f5e9; /* Verde muy claro */
    border-radius: 10px;
    border: 1px solid #a5d6a7;
}

.cart-details h3 {
    color: #2e7d32; /* Verde profundo */
    font-size: 20px;
    margin-bottom: 10px;
}

.cart-details ul {
    list-style: none;
    padding: 0;
}

.cart-details ul li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #558b2f; /* Verde más intenso */
}
